@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Oswald:wght@200&display=swap');
.logoBrand
{
    background-color: transparent;
    
}
.pizzanav
{
    position:fixed;
    margin-top:0;
   
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.navDiv
{
     margin-left:275px;
     height:185px;
     position:relative;
}
ul
{
    justify-content: center;
    align-items: center;
    
   
   
}
li{
    color:black;
    font-family: 'Oswald', sans-serif;
    background-color: white;
    text-align: center;
    font-size:22px;
    font-weight: 400;
    padding:20px;
    list-style: none;
    display: inline;
    border: 0.5px black;
    text-transform: uppercase;
}
.active
{
    background-color: rgb(216,37,47);
    color:white;
}
li:hover{
    background-color: rgb(216,37,47);
    color:white;
}
.container > ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}